#main{
    width: 800px;
    margin: 0 auto;
    padding: 10px;
}

#saved-station-title{
    margin-top: 20px;
}

#url-error-msg {
    display: none;
    color: #e00;
    font-style: italic;
}

@media (max-width: 800px) {
    width: auto;
}